@page "/CO2Chart"
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer
<script src="/lib/js/co2Chart.js"></script>
<div id="CO2_chart_div" style="height: 600px; width: 600px;"></div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender != true)
        {
            var _ = JsRuntime.InvokeVoidAsync("drawChart");
        }
    }
}
