@page "/CO2Chart"
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer
<script src="/lib/js/CO2Chart.js"></script>

<div id="CO2_chart_div" style="height: 500px; width: 500px;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("drawCO2Chart", "CO2", 70, "CO2_chart_div");
        }
    }
}
