@page "/CO2Chart"
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer

<div id="CO2_chart_div" style="width: 400px; height: 120px;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("drawChart", "CO2", 55, "CO2_chart_div");
        }
    }
}
