@page "/HumidityChart"
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer

<div id="Humidity_chart_div" style="width: 400px; height: 120px;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("drawHumidityChart", "Humidity", 50, "Humidity_chart_div");
        }
    }
}
