@page "/HumidityChart"
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer
<script src="/lib/js/HumidityChart.js"></script>

<div id="Humidity_chart_div" style="height: 500px; width: 500px;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("drawHumidityChart", "Humidity", 70, "Humidity_chart_div");
        }
    }
}
