@page "/TemperatureChart"
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/lib/js/TemperatureChart.js"></script>
<div id="Temperature_chart_div" style="width: 400px; height: 400px;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("drawTemperatureChart", "Temperature", 68, "Temperature_chart_div");
        }
    }
}
